@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 0, 0%, 2%;
    --background: 0, 0%, 98%;
    --primary: 221, 100%, 78%;
    --secondary: 222, 100%, 90%;
    --accent: 334, 76%, 50%;

    --radius: 0.5rem;
  }
}
